<?php
$element = $this->getElement();
$htmlId = $element->getHtmlId();
$collapseState = $this->isCollapseState();
?>
<div class="section-config" xmlns="http://www.w3.org/1999/html">
    <div class="entry-edit-head admin__collapsible-block">
        <a onclick="Fieldset.toggleCollapse('<?php echo $htmlId ?>', '<?php echo $this->getUrl(
            '*/*/state/'
        ) ?>'); return false;"
           href="#<?php echo $htmlId ?>-link" id="<?php echo $htmlId ?>-head" class="">
            <?php echo $element->getLegend() ?>
        </a>
    </div>
    <input type="hidden" value="<?php echo $collapseState ?>" name="config_state[<?php echo $htmlId ?>]"
           id="<?php echo $htmlId ?>-state">
    <fieldset id="<?php echo $htmlId ?>" class="config admin__collapsible-block data-grid">
        <table cellspacing="0" style="display: none" data-bind="visible: true">
            <tbody>
            <tr class="headings">
                <th style="width: 33.33%" class="data-grid-th">
                    <?php echo __('Send to Slack?') ?>
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: stats_send_type">
                    <?php echo __('What time?') ?>
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: stats_send_type">
                    <?php echo __('Highlight message?') ?>
                </th>
            </tr>
            <tr>
                <td>
                    <select
                        data-bind="chosen: {width: '200px'}, value: stats_send_type, attr: {name: buildName('stats_send_type')}">
                        <option value=""><?php echo __('No') ?></option>
                        <option value="default"><?php echo __('Yes - default channel') ?></option>
                        <option value="custom"><?php echo __('Yes - custom channel') ?></option>
                    </select>
                        <span data-bind="visible: stats_send_type() == 'custom'" style="display: inline-block">
                            <input type="text" class=""
                                   data-bind="value: stats_custom_channel, attr: {name: buildName('stats_custom_channel')}"/>
                        </span>
                </td>
                <td data-bind="if: stats_send_type">
                    <select data-bind="chosen: {width: '200px'}, value: hour, attr: {name: buildName('hour')}">
                        <?php for ($i = 0; $i < 24; ++$i): ?>
                            <option value="<?php echo $i ?>"><?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>:00</option>
                        <?php endfor; ?>
                    </select>
                </td>
                <td data-bind="if: stats_send_type">
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('stats_colorize')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('stats_colorize')}, checked: stats_colorize, switch: stats_colorize"/>
                        </span>
                        <span data-bind="visible: stats_colorize" style="display: inline-block">
                            <input type="text" class=""
                                   data-bind="value: stats_color, attr: {name: buildName('stats_color')}, color: true"/>
                        </span>
                </td>
            </tr>
            <tr data-bind="visible: stats_send_type">
                <th class="data-grid-th">
                    <?php echo __('Daily Stats') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('Weekly Stats') ?>
                </th>
                <th class="data-grid-th">&nbsp;</th>
            </tr>
            <tr data-bind="visible: stats_send_type">
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('daily_stats')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('daily_stats')}, checked: daily_stats, switch: daily_stats"/>
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('weekly_stats')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('weekly_stats')}, checked: weekly_stats, switch: weekly_stats"/>
                        </span>
                        <span data-bind="visible: weekly_stats">
                            <select data-bind="chosen: {width: '200px'}, value: day, attr: {name: buildName('day')}">
                                <?php foreach ($this->getWeekdays() as $option): ?>
                                    <option
                                        value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="headings" data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
                <th class="data-grid-th">
                    <?php echo __('Qty Orders') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('Total $ Revenue') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('Qty Products') ?>
                </th>
            </tr>
            <tr data-bind="visible:  stats_send_type() && (daily_stats() || weekly_stats())">
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('qty_orders')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('qty_orders')}, checked: qty_orders, switch: qty_orders"/>
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('total_revenue')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('total_revenue')}, checked: total_revenue, switch: total_revenue"/>
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('qty_products')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('qty_products')}, checked: qty_products, switch: qty_products"/>
                        </span>
                </td>
            </tr>
            <tr data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
                <th class="data-grid-th">
                    <?php echo __('Avg. Products / Order') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('Avg. $ Revenue / Order') ?>
                </th>
                <th class="data-grid-th">
                    &nbsp;
                </th>
            </tr>
            <tr data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('avg_products_order')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('avg_products_order')}, checked: avg_products_order, switch: avg_products_order"/>
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('avg_revenue_order')}"/>
                            <input type="checkbox" value="1"
                                   data-bind="attr: {name: buildName('avg_revenue_order')}, checked: avg_revenue_order, switch: avg_revenue_order"/>
                        </span>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <?php echo $this->getExtraJs() ?>
    <script type="text/x-magento-init">
        {
            "#<?php echo $htmlId ?>": {
                "Moogento_SlackCommerce/js/stats": <?php echo $block->getValues(); ?>
            }
        }

    </script>
    <style scoped="">
        #moogento_slackcommerce_stats td {
            padding: 1.5rem;
        }
    </style>
</div>